@charset "UTF-8";

/* 기본 셋팅 */

* { margin:0; padding:0; }
ul,li { list-style: none; }
a { text-decoration: none; }
img { border: 0;}

body{ font-family: '맑은 고딕',sans-serif; }
.center {
    width: 1000px;
    margin: auto;
}

/* 헤더 */

#header_wrap {
    position: absolute;  /* position 적용시 맨 앞으로 올라오는데 자식들에게 이미 포지션 적용 되어 있을 경우 맨 앞으로 안 올라오기 때문에 z-index 넣어줘야 함*/
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%; /* header_wrap 100% 로 지정 한 번 더 해 줘야 함 */
    height: 80px;
}
header {}
header h1 { 
    float: left; 
    margin: 20px;
}
header nav { float: right; }
header nav > ul > li { 
    position: relative;
    float: left; /* 일렬로 만들어 주기 */
    margin-left: 25px;
} 
header nav > ul > li > a { 
    display: inline-block;
    line-height: 80px; /* 텍스트를 가운데로 두고 위 아래 여백 주기 */
    color: #fff; 
    font-size: 17px;
    font-weight: bold;
    transition: all 0.4s; /* a 가 바뀔 경우 변화되는 속도 */
}
header nav > ul > li > a:hover { color: #3698c1; } /* class 값을 주지 않았기 때문에 > 로 지정해야 함 */

/* 서브 메뉴 */

.sub {
    display: none;
    position: absolute; 
    left: 50%;
    top: 70px;
    transform: translate(-50%);
    padding: 20px;
    background: #fff;
}
.sub::before{
    display: block;
    content: "";
    position: absolute; /* position:absolute 의 경우 자동으로 block 요소가 들어가기 때문에 굳이 display:block 을 따로 넣어줄 필요없음 */
    top: -28px; /* border 값의 2배 */
    left: 50%;
    border: 14px solid transparent; /* transparent 투명 */
    border-bottom-color: #fff; /* 삼각형 만들기 */
    transform: translate(-50%); /* 화살표의 크기 상관없이 메뉴 박스 정중앙에 위치 */
}
.sub li {
    margin-bottom: 5px;
}
.sub a { 
    color: #666;
    font-size: 12px;
    white-space: nowrap; /* 스페이스와 탭, 줄바꿈, 자동줄바꿈을 어떻게 처리할지 정하는 속성 (nowarp-자동줄바꿈 금지)*/
}
.sub a:hover { text-decoration: underline; }
header nav > ul > li:hover .sub{ /* header nav > ul > li (메인 메뉴) 위 마우스를 올리면 .sub (서브 메뉴) 가 보이도록 설정 */
    display: block;
}

/* 메인 */

#main_slider { 
    width: 100%;
    overflow: hidden; /* 사이즈가 작아질 경우 보여지지 않는 (잘리는) 영역은 보이지 않게 */
}

.img_wrap{ 
    position: relative;
    width: 1920px;
    height: 540px;
    transform: translate(-50%); /* 이미지의 가운데가 항상 창의 가운데에 오도록 */
    left: 50%;
}

.slider_txt { 
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    font-weight : bold;
    color: #fff; 
    text-align: center;
    letter-spacing: -1.5px; /* 글자 간격 조정 */
}

.slider_txt h3 { 
    display: inline-block; /* h3는 block 속성이므로 해당 글씨 만큼만 적용하기 위해 inline 속성을 줘야 함, 패딩 마진 값을 줄 수 있도록 inline-block 으로 적용 */
    font-size: 26px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 3px 5px; /* 두 개만 적용할 경우 앞(위,아래) 뒤(양 옆) 순서 / 세 개 적을 경우 위 좌우 아래 순서로 적용 */
    margin-bottom: 16px;
}
.slider_txt p:nth-of-type(1) { font-size: 40px; }
.slider_txt p:nth-of-type(2) {
    font-size: 50px;
    margin-bottom: 60px;
}

/*  nth-child 와 nth-of-type 의 차이 
    1. nth-child()는 같은 형제들 중 n번째의 것을 적용
    2. nth-of-type()은 같은 형제, 같은 타입의 형제들 중 n번째 것을 적용
*/

.slider_txt a { /* a 는 inline 속성 */
    color: #fff;
    letter-spacing: 0;
    border: 1px solid #fff;
    padding: 5px 20px;
    transition: all 0.4s; /* a 태그에 변화가 있을 경우 0.4s 시간 소요 all 은 모든 요소에 적용하겠다는 의미 생략해도 all 로 적용됨 */
} 
.slider_txt a:hover {
    background: rgba(255, 255, 255, 0.3);
}

/* 메인 */

section { padding: 60px 0; }
main h3 { 
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 50px;
    color: #3698c1;
}

/* s1 */

.s1 ul { overflow: hidden; }
.s1 li { 
    float: left;
    width: 184px;
    height: 210px;
    margin-right: 20px;
    background: #3698c1;
    text-align: center;
}
.s1 li:last-child { margin-right: 0;}
.s1 h4 {
    color: #fff;
    font-size: 20px;
    margin: 35px 0 20px;
}
.s1 a {
    display: block; /* a태그 inline 속성으로 block 을 줘서 줄 바꿈 되도록 적용 */
    color: #fff;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: -0.5px;
}
.s1 a:hover{ text-decoration: underline; }

/* s2 */

.s2 { background: #f1f1f1;}
.s2 div { 
    text-align: center;
    padding: 20px 0 30px;
}
.s2 a { 
    color: #000;
    line-height: 1.5;
}

/* s3 */

.s3 { background: #3698c1; }
.s3 h3 { 
    color: #fff;
    font-weight: 600;
}
.s3 p { 
    color: #fff;
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
}
.s3 ul { 
    display: flex;
    justify-content: space-between;
}
.s3 a {
    display: block;
    width: 310px;
    line-height: 100px;
    background: #fff;
    color: #414d53;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

/* s4 */

.s4 { overflow: hidden; }
.left, .right { 
    width: 490px;
}
.left {
    box-sizing: border-box;
    float: left; 
    margin-right: 20px;
    text-align: center;
}
.youtube {
    height: 280px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.logos { /* ul 태그는 block 방식이기 때문에 inline-block 을 주면 텍스트가 가운데로 옴 */
    display: inline-block;
    overflow: hidden;
}
.logos li { float: left; }
.logos li::after{
    display: inline-block;
    content: "";
    width: 1px;
    height: 18px;
    background: #ccc;
    margin: 0px 15px 0 5px;
}
.logos li:last-child:after{ display: none; } /* 마지막 자식의 after 만 보여지지 않음 */
.logos a { color: #000; }
.logos a img { vertical-align: middle; }

.right {
    float: right;
}
.right h4 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}
.vision { 
    background: #414d53;
    margin-bottom: 20px;
    padding: 10px 20px 50px;
}
.vision p {
    text-align: center;
}
.news_list { 
    position: relative;
    background: #1c96ca;
    padding: 10px;
}
.news_list h4 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 15px;
}
.more{
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 13px;
    font-weight: 600;
}
.news_list a { color: #fff; }
.news_list li { height: 30px; } /* 부모가 float 를 감싸주지 않기 때문에 .news_list li {overflow : hidden} 을 넣어 주든지 부모에 height 값을 넣어 줘야 함  */
.news_list ul a { font-size: 14px; }
.news_list ul p:first-child { 
    float: left;
    font-size: 14px;
} 
.news_list ul p.date { 
    float: right;
    font-size: 12px;
    opacity: 0.5;
}

/* 푸터 상단 */

.footer_wrap { background: #404b51; }
.footer_top { 
    border-bottom: 1px solid rgba(255, 255, 255, .5); 
    height: 50px;
}
.footer_top a { 
    color: #fff;
    font-weight: 600;
}
.footer_menu {
    float: left;
}
.footer_menu li { 
    float: left;
    margin-right: 20px;
}
.footer_menu li a { 
    font-size: 15px;
    line-height: 50px;
}
.select { 
    float: right;
    width: 170px;
    font-size: 12px;
}
.select_btn { 
    width: 170px;
    padding: 5px 10px;
    margin-top: 10px;
    box-sizing: border-box;
    background: #2e383e;
    cursor: pointer; /* a 태그가 없더라도 해당 위치에 마우스 올리면 포인터 생성 */
    color: #fff;
}
.select_list {
    display: none;
    width: 170px;
}
.select_list a {
    display: block;
    padding: 10px;
    color: #414d53;
    background: #fff;
    transition: .4s;
}
.select_list a:hover{
    background: #ff8c01;
    color: #fff;
}

/* .select_btn:hover + .select_list{  /* 형제 요소 선택 하는 방법 + (바로 뒤에 있는 형제), ~ (뒤에 있는 형제들) 
    display: block;
}  하위 셀렉트 선택을 못하는 문제 발생 */

.select:hover .select_list { /* .select 에 hover 를 줘서 하위 select 도 선택할 수 있도록 적용 */
    display: block;
}

/* 푸터 하단 */

footer { 
    height: 140px;
    padding-top: 20px;
}
footer h2 {
    float: left;
    margin-right: 35px;
}

.address {
    float: left;
    font-size: 13px;
    font-weight: 600;
    margin-right: 35px;
}
.address p:nth-child(1) {
    color: #cae1ee;
}
.address p:nth-child(2) {
    color: #5a6e79;
} /* 색깔을 정확하게 모를 경우 #fff 색 넣고 opacity 조절 하는 것도 하나의 방법임 */

.sns { 
    float: left;
    margin-left: 40px;
}
.sns a {
    display: inline-block;
    width: 53px;
    height: 53px;
    background: #4d5a61;
    text-align: center;
    margin-left: 15px;
    border-radius: 50%; /* %를 줄 때는 가로 세로 비율이 동일 할 때 적용 가능, 가로 세로 비율이 동일하지 않을 경우 %가 아닌 수치(px) 로 줘야 함 */
}
.sns img { margin-top: 13px; }